menu "Humidity Monitor Configuration"

    menu "AHT20"

        config AHT20_SCL_GPIO
            int "SCL GPIO Num"
            default 22
            help
                GPIO number for AHT20 clock line.

        config AHT20_SDA_GPIO
            int "SDA GPIO Num"
            default 21
            help
                GPIO number for AHT20 data line.

        config AHT20_SCL_FREQ_HZ
            int "I2C Frequency Hz"
            default 100000
            help
                I2C Frequency Hz.

    endmenu

endmenu
